Nama : Syukrillah

Kelas : TIF RP 222PA

In [42]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import scipy.integrate as spi
import math

## Statistika Dasar

In [43]:
# Data
data = {
    'Tinggi badan (cm)': ['150 - 154', '155 - 159',
                          '160 - 164', '165 - 169',
                          '170 - 174', '175 - 179',
                          '180 - 184', '185 - 189'],
    'fi': [2, 6, 11, 12, 7, 4, 2, 1]
}

df = pd.DataFrame(data)

In [44]:
df

  Tinggi badan (cm)  fi
0         150 - 154   2
1         155 - 159   6
2         160 - 164  11
3         165 - 169  12
4         170 - 174   7
5         175 - 179   4
6         180 - 184   2
7         185 - 189   1

### Problem solve

In [45]:
# Menghitung tepi atas dan tepi bawah kelas interval ke-4
interval = df['Tinggi badan (cm)'][3].split(' - ')
tepi_bawah = int(interval[0])
tepi_atas = int(interval[1])

# Menghitung mean
df['mid'] = df['Tinggi badan (cm)'].apply(
    lambda x: np.mean([int(i) for i in x.split(' - ')]))
df['fx'] = df['fi'] * df['mid']
mean = df['fx'].sum() / df['fi'].sum()

# Menghitung modus
df['f_prev'] = df['fi'].shift(1, fill_value=0)
df['f_next'] = df['fi'].shift(-1, fill_value=0)
mode_row = df[(df['fi'] > df['f_prev']) & (df['fi'] > df['f_next'])]
L1 = mode_row['mid'].values[0] - (
    mode_row['mid'].values[0] - df.loc[mode_row.index[0]-1, 'mid']) / 2
L2 = mode_row['mid'].values[0] + (
    df.loc[mode_row.index[0]+1, 'mid'] - mode_row['mid'].values[0]) / 2
mode = L1 + ((mode_row['fi'].values[0] - mode_row['f_prev'].values[0]) / (
    (mode_row['fi'].values[0] - mode_row['f_prev'].values[0]) + (
        mode_row['fi'].values[0] - mode_row['f_next'].values[0]))) * (L2 - L1)

# Menghitung Q2 (median)
n = df['fi'].sum()
F = df['fi'].cumsum()
Q2_row = df[F >= n/2].iloc[0]
L1 = Q2_row['mid'] - (Q2_row['mid'] - df.loc[Q2_row.name-1, 'mid']) / 2
L2 = Q2_row['mid'] + (df.loc[Q2_row.name+1, 'mid'] - Q2_row['mid']) / 2
Q2 = L1 + ((n/2 - F[F < n/2].max()) / Q2_row['fi']) * (L2 - L1)

# Menghitung variansi dan standar deviasi
df['fx_squared'] = df['fi'] * df['mid']**2
variance = df['fx_squared'].sum()/df['fi'].sum() - mean**2
std_dev = np.sqrt(variance)

1. Tepi atas dan Tepi bawah kelas interval 4

`Tepi atas`<br>
$Ta = Ba \ + \ Ketelitian \ data$

In [46]:
tepi_atas

169

`Tepi bawah`<br>
$Tb = Bb \ - \ Ketelitian \ data$

In [47]:
tepi_bawah

165

2. Mean

$
\LARGE
\overline{x} = \frac {\Sigma f_i x_i} {\Sigma f_i}
$

$f_i = $ frekwensi kelas ke i<br>
$x_i = $ nilai tengah kelas ke i

In [48]:
mean

166.55555555555554

3. Modus

$$
M_o = Tb_{mo} + \left (\frac {d_1} {d_1 + d_2}\right)p
$$
$Tb_{mo} = $ Tepi bawah kelas modus

$d_1 = $ Selisih frekuensi kelas modus dengan kelas sebelumnya

$d_2 = $ Selisih frekuensi kelas modus dengan kelas sesudahnya

$p = $ panjang kelas

In [49]:
mode

165.33333333333334

4. Q2

In [50]:
Q2

165.95833333333334

5. Variansi

In [51]:
variance

60.91358024691726

6. Standar deviasi

In [52]:
std_dev

7.804715257260655

## Ruang Sampel

1. Dari 7 orang calon pengurus kelas akan dipilih 3 orang untuk menjadi ketua, sekretaris dan bendahara, berapa banyaknya seluruh susunan yang mungkin?

In [53]:
n = 7  # Jumlah total calon
r = 3  # Jumlah posisi yang akan dipilih

# Menghitung permutasi
permutations = math.perm(n, r)

print(f"Jumlah susunan yang mungkin adalah: {permutations}")

Jumlah susunan yang mungkin adalah: 210

2. Dari suatu perusahaan, terdiri dari lima department. Setiap department mendelegasikan karyawannya untuk ikut berpartisipasi dalam seminar di luar negeri. Terdapat 3 delegasi dari department A, 2 delegasi dari department B, 4 delegasi dari department C, 3 delegasi department D, dan 2 delegasi department E. dari setiap delegasi department tersebut hanya terdapat 5 tiket pesawat untuk keberangkatan ke luar negeri. Berapa banyaknya susunan delegasi yang mungkin terjadi?

In [54]:
n = 14  # Jumlah total delegasi
r = 5   # Jumlah tiket pesawat yang tersedia

# Menghitung kombinasi
combinations = math.comb(n, r)

print(f"Jumlah susunan delegasi yang mungkin adalah: {combinations}")

Jumlah susunan delegasi yang mungkin adalah: 2002

## Peristiwa / Kejadian

In [55]:
# Peluang munculnya angka ganjil atau genap
total_kemungkinan = 6
jumlah_ganjil = 3
jumlah_genap = 3

peluang_ganjil_atau_genap = (jumlah_ganjil + jumlah_genap) / total_kemungkinan

# Peluang munculnya angka ganjil dan genap
# Karena satu kali lemparan dadu hanya menghasilkan satu angka, 
# maka tidak mungkin untuk mendapatkan angka ganjil dan genap sekaligus.
peluang_ganjil_dan_genap = 0

# Peluang munculnya angka prima dengan syarat munculnya angka ganjil terlebih dahulu
jumlah_prima = 3
jumlah_prima_ganjil = 2

peluang_prima_jika_ganjil = jumlah_prima_ganjil / jumlah_prima

Satu buah dadu dilemparkan dua kali hitunglah :

1. Peluang munculnya angka ganjil atau genap

In [56]:
peluang_ganjil_atau_genap

1.0

2. Peluang munculnya angka ganjil dan genap

In [57]:
peluang_ganjil_dan_genap

0

3. Peluang munculnya angka prima dengan syarat munculnya angka ganjil terlebih dahulu

In [58]:
peluang_prima_jika_ganjil

0.6666666666666666

## Peubah acak dan distribusi peluang

1. Dari dua lusin snack ringan berhadiah, terdapat 3 snack yang didalamnya berhadiah umroh, pak haji mengincar hadiah umroh tersebut, namun uang pak haji hanya mampu membeli 5 snack ringan berhadiah tersebut, dicabutlah snack ringan tersebut secara acak dari gantungan toko, cari peluang pak haji mendapatkan 2 snack berhadiah.

In [59]:
# Jumlah total snack
n = 24

# Jumlah snack berhadiah
m = 3

# Jumlah snack yang dibeli Pak Haji
k = 5

# Jumlah snack berhadiah yang diinginkan
r = 2

# Menghitung kombinasi
comb_snack_berhadiah = math.comb(m, r)
comb_snack_tidak_berhadiah = math.comb(n - m, k - r)
comb_total = math.comb(n, k)

# Menghitung peluang
peluang = (comb_snack_berhadiah * comb_snack_tidak_berhadiah) / comb_total

print(f"Peluang Pak Haji mendapatkan 2 snack berhadiah adalah: {peluang}")

Peluang Pak Haji mendapatkan 2 snack berhadiah adalah: 0.09387351778656126

2. Marc Marquez jatuh di tikungan ke-10 circuit mandalika, setelah melihat tayangan video replay, maka tim honda hanya memastikan bahwa marc terjatuh pada kecepatan antara 100 km/jam hingga 150 km/jam, tim honda ingin mengetahui peluang terpelesetnya ban yang dia gunakan pada saat kecepatan diatas 120 km/jam, Jika kepekatan atau masa peluangnya adalah $f(x) = \frac {1}{550} x^2$

In [60]:
# Fungsi kepadatan peluang
f = lambda x: (1/550) * x**2

# Batas bawah dan atas
a = 120
b = 150

# Menghitung integral
peluang, error = spi.quad(f, a, b)

print(f"Peluang terpelesetnya ban pada saat kecepatan di atas 120 km/jam adalah: {peluang}")

Peluang terpelesetnya ban pada saat kecepatan di atas 120 km/jam adalah: 998.1818181818182

3. Tentukan peluang pada kelas interval 1, 2, dan 3

| Tinggi badan (cm) | fi |
| ----------------- | -- |
| 150 - 154         | 2  |
| 155 - 159         | 6  |
| 160 - 164         | 11 |
| 165 - 169         | 12 |
| 170 - 174         | 7  |
| 175 - 179         | 4  |
| 180 - 184         | 2  |
| 185 - 189         | 1  |

In [61]:
# Data frekuensi
fi = [2, 6, 11, 12, 7, 4, 2, 1]

# Menghitung jumlah total individu
total_individu = sum(fi)

# Menghitung peluang pada kelas interval 1, 2, dan 3
peluang_1 = fi[0] / total_individu
peluang_2 = fi[1] / total_individu
peluang_3 = fi[2] / total_individu

print(f"Peluang pada kelas interval 1: {peluang_1}")
print(f"Peluang pada kelas interval 2: {peluang_2}")
print(f"Peluang pada kelas interval 3: {peluang_3}")

Peluang pada kelas interval 1: 0.044444444444444446
Peluang pada kelas interval 2: 0.13333333333333333
Peluang pada kelas interval 3: 0.24444444444444444