## Statistika Dasar

| Tinggi badan (cm) | fi |
| ----------------- | -- |
| 150 - 154         | 2  |
| 155 - 159         | 6  |
| 160 - 164         | 11 |
| 165 - 169         | 12 |
| 170 - 174         | 7  |
| 175 - 179         | 4  |
| 180 - 184         | 2  |
| 185 - 189         | 1  |

In [4]:
data = [
    ((150,154), 2),
    ((155,159), 6),
    ((160,164), 11),
    ((165,169), 12),
    ((170,174), 7),
    ((175,179), 4),
    ((180,184), 2),
    ((185,189), 1)
]

1. Tepi atas dan Tepi bawah kelas interval 4

`Tepi atas`<br>
$Ta = Ba \ + \ Ketelitian \ data$

In [8]:
#index 3: interval 4
data[3][0][1] + 0.5

169.5

`Tepi bawah`<br>
$Tb = Bb \ - \ Ketelitian \ data$

In [9]:
#index 3: interval 4
data[3][0][0] - 0.5

164.5

2. Mean

$
\LARGE
\overline{x} = \frac {\Sigma f_i x_i} {\Sigma f_i}
$

$f_i = $ frekwensi kelas ke i<br>
$x_i = $ nilai tengah kelas ke i

In [36]:
xi = []
fi_xi = []

for x in data:
    xi.append(
        (x[0][0] + x[0][1])//2
    )
    fi_xi.append(
        xi[-1] * x[1]
    )

x = sum(fi_xi) / sum([x[1] for x in data])

3. Modus

4. Q2

5. Variansi

6. Standar deviasi

## Ruang Sampel

1. Dari 7 orang calon pengurus kelas akan dipilih 3 orang untuk menjadi ketua, sekretaris dan bendahara, berapa banyaknya seluruh susunan yang mungkin?

2. Dari suatu perusahaan, terdiri dari lima department. Setiap department mendelegasikan karyawannya untuk ikut berpartisipasi dalam seminar di luar negeri. Terdapat 3 delegasi dari department A, 2 delegasi dari department B, 4 delegasi dari department C, 3 delegasi department D, dan 2 delegasi department E. dari setiap delegasi department tersebut hanya terdapat 5 tiket pesawat untuk keberangkatan ke luar negeri. Berapa banyaknya susunan delegasi yang mungkin terjadi?

## Peristiwa / Kejadian

Satu buah dadu dilemparkan dua kali hitunglah :

1. Peluang munculnya angka ganjil atau genap

2. Peluang munculnya angka ganjil dan genap

3. Peluang munculnya angka prima dengan syarat munculnya angka ganjil terlebih dahulu

## Peubah acak dan distribusi peluang

1. Dari dua lusin snack ringan berhadiah, terdapat 3 snack yang didalamnya berhadiah umroh, pak haji mengincar hadiah umroh tersebut, namun uang pak haji hanya mampu membeli 5 snack ringan berhadiah tersebut, dicabutlah snack ringan tersebut secara acak dari gantungan toko, cari peluang pak haji mendapatkan 2 snack berhadiah.

2. Marc Marquez jatuh di tikungan ke-10 circuit mandalika, setelah melihat tayangan video replay, maka tim honda hanya memastikan bahwa marc terjatuh pada kecepatan antara 100 km/jam hingga 150 km/jam, tim honda ingin mengetahui peluang terpelesetnya ban yang dia gunakan pada saat kecepatan diatas 120 km/jam, Jika kepekatan atau masa peluangnya adalah $f(x) = \frac {1}{550} x^2$

3. Tentukan peluang pada kelas interval 1, 2, dan 3

| Tinggi badan (cm) | fi |
| ----------------- | -- |
| 150 - 154         | 2  |
| 155 - 159         | 6  |
| 160 - 164         | 11 |
| 165 - 169         | 12 |
| 170 - 174         | 7  |
| 175 - 179         | 4  |
| 180 - 184         | 2  |
| 185 - 189         | 1  |