In [1]:
from prettytable import PrettyTable

In [2]:
TEKS = "SYUKRILLAH"
index = PrettyTable()
cek_bit = PrettyTable()
list_data = []

In [3]:
index.field_names = ["karakter","index","bin"]

In [4]:
for i,x in enumerate(TEKS):
    index.add_row([x,ord(x),bin(ord(x))[2:]])
    if x == " ":
        list_data.append("0100000")
    else:
        list_data.append(bin(ord(x))[2:])

# INDEX

In [5]:
index

+----------+-------+---------+
| karakter | index |   bin   |
+----------+-------+---------+
|    S     |   83  | 1010011 |
|    Y     |   89  | 1011001 |
|    U     |   85  | 1010101 |
|    K     |   75  | 1001011 |
|    R     |   82  | 1010010 |
|    I     |   73  | 1001001 |
|    L     |   76  | 1001100 |
|    L     |   76  | 1001100 |
|    A     |   65  | 1000001 |
|    H     |   72  | 1001000 |
+----------+-------+---------+

In [6]:
list_data.reverse()
list_data_vertical = [list(item) for item in zip(*list_data)]
list_data_vertical.reverse()

In [7]:
tabel_bin = PrettyTable()
tabel_bin.field_names = [(index, karakter) for index, karakter in enumerate(reversed(TEKS))]
tabel_bin.add_rows(list_data_vertical)

# Tabel Bin

In [8]:
tabel_bin

+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+
| (0, 'H') | (1, 'A') | (2, 'L') | (3, 'L') | (4, 'I') | (5, 'R') | (6, 'K') | (7, 'U') | (8, 'Y') | (9, 'S') |
+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+
|    0     |    1     |    0     |    0     |    1     |    0     |    1     |    1     |    1     |    1     |
|    0     |    0     |    0     |    0     |    0     |    1     |    1     |    0     |    0     |    1     |
|    0     |    0     |    1     |    1     |    0     |    0     |    0     |    1     |    0     |    0     |
|    1     |    0     |    1     |    1     |    1     |    0     |    1     |    0     |    1     |    0     |
|    0     |    0     |    0     |    0     |    0     |    1     |    0     |    1     |    1     |    1     |
|    0     |    0     |    0     |    0     |    0     |    0     |    0     |    0     |    0     |    0     |
|    1     |    1     |    1     |    1     |    1     |    1     |    1     |    1     |    1     |    1     |
+----------+----------+----------+----------+----------+----------+----------+----------+----------+----------+

# Tabel Cek Bit