In [1]:
mysql://root:@localhost:3306

SyntaxError: invalid syntax (3306520974.py, line 1)

In [5]:
SHOW DATABASES;

,Database
0,adm
1,information_schema
2,mhs_tif
3,mysql
4,performance_schema
5,phpmyadmin
6,test